*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation Bar Styling */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
}
nav img{
    /* font-size: 30px; */
    width: 150px;
}
nav button{
    padding: 5px 22px;
    background-color: white;
    border: 2px solid pink;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: pink;
    transition: 0.5s ease-in-out;
    box-shadow: 2px 2px 2px pink;
}
nav button:hover{
    background-color: pink;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px brown;
    scale: 1.1;
}

/* section one styling */
#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 90px 0;
}
#section1 > h2 {
    font-size: 2rem;
}
#section1 > p{
    font-size: 1rem;
    /* border: 1px solid black; */
    width: 30%;
    text-align: center;
}
#section1 > button {
    padding: 10px 45px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 3px 3px 3px gray;
    transition: 0.8s ease-in-out;
}
#section1 > button:hover{
    background-color: white;
    border: 2px solid pink;
    color: pink;
    scale: 1.1;
}

/* section two styling */
#section2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#section2 img {
    width: 40%;
}

/* section three styling */
#section3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 60px 0;
}
.div1-sec3, .div2-sec3{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
}
.div1-sec3 img, .div2-sec3 img{
    width: 15%;
}
.div1-sec3 h2, .div2-sec3 h2{
    font-size: 2.5rem;
    font-weight: 800;
}
.div1-sec3 p, .div2-sec3 p{
    font-size: 0.8rem;
}

/* section four styling */
.new-section4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    background-color: #F6FBFF;
}
.new-section4 img{
    width: 20%;
    height: 30%;
}
#section4{
    display: flex;
    flex-direction: column;
}
.section4-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section4-left h2{
    font-size: 2rem;
    font-weight: 700;
}
.section4-left p{
    width: 45%;
    text-align: left;
    font-size: 1.1rem;
}

/* section five styling */
#section5{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 150px;
    justify-content: space-between;
    gap: 45%;
}
#section5 img{
    display: flex;
    justify-content: stretch;
    width: 20%;
    height: 30%;
}
.section5-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.section5-right h2{
    font-size: 2rem;
    font-weight: 700;
}
.section5-right p{
    text-align: left;
    font-size: 0.9rem;
}

.new-section6{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 150px;
    justify-content: space-between;
    gap: 45%;
    background-color: #F6FBFF;
}
#section6{
    display: flex;
    flex-direction: column;
}
.new-section6 img{
    display: flex;
    justify-content: stretch;
    width: 20%;
    height: 30%;
}
.section6-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.section6-left h2{
    font-size: 2rem;
    font-weight: 700;
}
.section6-left p{
    text-align: left;
    font-size: 0.9rem;
}


#section7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
    gap: 20px;
}
#section7 h2{
    font-size: 2.5rem;
    font-weight: 700;
}
#section7 button{
    padding: 15px 50px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 3px 3px 3px gray;
    transition: 0.8s ease-in-out;
}
#section7 > button:hover{
    background-color: white;
    border: 2px solid pink;
    color: pink;
    scale: 1.1;
}

.footer-image{
    display: flex;
    flex-direction: column;
    margin: 200px 0 0;
}

/* footer styling */
footer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 70px 80px;
    gap: 100px;
    background: #00252e fixed;
    border-color:  #00252e;
}
.footer-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}
.footer-left1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo p{
    width: 22rem;
    font-size: 1.1rem;
    color: white;
}
.footer-img1, .footer-img2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer-img1 p, .footer-img2 p{
    color: white;
    font-size: 1.1rem;
}
.footer-icon ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer-icon ul li{
    font-size: 1.5rem;
    list-style: none;
}
.footer-icon ul li a{
    color: white;
}
.footer-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-right h2{
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
.footer-right p{
    width: 24rem;
    font-size: 1.1rem;
    color: white; 
}
.footer-right1{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.footer-right1 input{
    padding: 8px 25px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: rgb(245, 227, 227);
}
.footer-right1 button{
    padding: 8px 22px;
    background-color: pink;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.footer-right1 button:hover{
    background-color: white;
    color: pink;
    border: 2px solid pink;
}
.footer-logo h1{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
}
.footer-image2{
    display: none;
}



/* Tablets screen  */
@media screen and (min-width:750px) and (max-width:850px){
    nav{
        padding: 40px 50px;
    }
    nav img{
        width: 150px;
    }
    #section1{
        gap: 30px;
        padding: 40px 0;
    }
    #section1 > h2 {
        font-size: 2.2rem;
    }
    #section1 > p{
        font-size: 1.3rem;
        width: 45%;
    }
    #section1 > button {
        padding: 10px 50px;
        border-radius: 25px;
        font-size: 1.2rem;
        font-weight: 400;
    }
    #section2 img {
        width: 40%;
        padding: 35px 0;
    }
    #section2 img {
        width: 50%;
    }
    #section3{
        padding: 40px 0;
    }
    .div1-sec3 img, .div2-sec3 img{
        width: 35%;
    }
    .div1-sec3 h2, .div2-sec3 h2{
        font-size: 3rem;
    }
    .div1-sec3 p, .div2-sec3 p{
        font-size: 1.2rem;
    }
    .new-section4{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 70px 50px;
        background-color: #F6FBFF;
    }
    .new-section4 img{
        width: 20%;
        height: 30%;
    }
    #section4{
        display: flex;
        flex-direction: column;
    }
    .section4-left{
        gap: 15px;
    }
    .section4-left h2{
        font-size: 2.5rem;
    }
    .section4-left p{
        width: 65%;
        font-size: 1.4rem;
    }
    #section5{
        padding: 70px 70px;
        gap: 20%;
    }
    #section5 img{
        width: 40%;
        height: 30%;
    }
    .section5-right{
        gap: 15px;
    }
    .section5-right h2{
        font-size: 2.4rem;
    }
    .section5-right p{
        text-align: left;
        font-size: 0.9rem;
    }
    .new-section6{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 50px 80px;
        justify-content: space-between;
        gap: 45%;
        background-color: #F6FBFF;
    }
    #section6{
        display: flex;
        flex-direction: column;
    }
    .new-section6 img{
        display: flex;
        justify-content: stretch;
        width: 40%;
        height: 30%;
    }
    #section6{
        gap: 25%;
    }
    .section6-left{
        gap: 15px;
    }
    .section6-left h2{
        font-size: 2.5rem;
    }
    .section6-left p{
        font-size: 1.2rem;
        width: 280%;
    }
    footer{
        padding: 70px 20px;
        gap: 20px;
        
    }
    .footer-image2{
        display: none;
    }
}


/* Mobile Screen  */
@media screen and (min-width:300px) and (max-width:450px){
    nav{
        padding: 40px 15px;
    }
    nav button{
        padding: 5px 15px;
        font-size: 1rem;
    }
    #section1{
        gap: 20px;
        padding: 10px 40px;
        align-items: center;
        justify-content: center;
    }
    #section1 > h2 {
        font-size: 1.8rem;
        text-align: center;
    }
    #section1 > p{
        font-size: 1.1rem;
        width: 95%;
    }
    #section1 > button {
        padding: 10px 30px;
        font-weight: 700;
    }
    #section2 img {
        width: 60%;
        padding: 50px 0;
    }
    #section3{
        flex-direction: column;
        gap: 50px;
        padding: 40px 0;
    }
    .div1-sec3, .div2-sec3{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .div1-sec3 img, .div2-sec3 img{
        width: 35%;
    }
    .div1-sec3 h2, .div2-sec3 h2{
        font-size: 3rem;
        font-weight: 800;
    }
    .div1-sec3 p, .div2-sec3 p{
        font-size: 0.7rem;
    }
    #section4{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;
        gap: 20px;
    }
    #section4 img{
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 50%;
    }
    .section4-left{
       align-items: center;
       justify-content: center;
        gap: 20px;
    }
    .section4-left h2{
        font-size: 2.3rem;
        font-weight: 700;
    }
    .section4-left p{
        width: 85%;
        text-align: center;
        font-size: 1rem;
    }
    #section5{
        flex-direction: column;
        align-items: center;
        padding: 50px 150px;
        justify-content: center;
        /* gap: 85%; */
    }
    #section5 img{
        justify-content: center;
        width: 200%;
        height: 70%;
    }
    .section5-right{
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 30px 0;
    }
    .section5-right h2{
        font-size: 1.5rem;
        width: 200%;
        text-align: center;
        /* border: 1px solid black; */
    }
    .section5-right p{
        text-align: center;
        font-size: 1rem;
        width: 150%;
    }
    #section6{
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 150px;
        justify-content: center;
        /* gap: 45%; */
    }
    #section6 img{
        justify-content: center;
        width: 200%;
        height: 70%;
    }
    .section6-left{
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 40px 0;
    }
    .section6-left h2{
        font-size: 2.5rem;
        width: 200%;
        text-align: center;
        font-weight: 700;
    }
    .section6-left p{
        text-align: center;
        font-size: 1rem;
        width: 250%;
    }
    #section7{
        padding: 40px 0;
        gap: 40px;
    }
    #section7 h2{
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
    }
    #section7 button{
        padding: 15px 30px;
    }
    .footer-image{
        display: none;
        margin: 200px 0 0;
    }
    .footer-image2{
        display: block;
        margin: 200px 0 auto;
    }
    .footer-image2 img{
        width: 100%;
    }
    footer{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 70px 120px;
        gap: 50px;
    }
    .footer-logo p{
        font-size: 1rem;
        color: white;
    }
    .footer-img1, .footer-img2{
        gap: 15px;
    }
    .footer-img1 p, .footer-img2 p{
        font-size: 1rem;
    }
    .footer-right{
        gap: 10px;
    }
    .footer-right h2{
        font-size: 1.5rem;
    }
    .footer-right p{
        font-size: 1rem;
        color: white; 
    }
    .footer-right1{
        gap: 15px;
    }
    .footer-right1 input{
        padding: 8px 20px;
        background-color: white;
        border: none;
    }
    .footer-right1 button{
        padding: 8px 15px;
    }
    .footer-logo h1{
        font-size: 2rem;
    }
}